.pr-fp-hidden {
  margin-left: -5000px;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.pr-fp-hidden.pr-fp-active {
  visibility: visible;
  margin-left: 0;
}

.pr-animating-in {
  animation-duration: 1.6s;
}

.pr-animating-out {
  animation-duration: 1.6s;
}

.section {
  .fp-overflow {
    height: 100vh;
  }
}

@keyframes moveFromBottomOut {
  25% {
    transform: scale(0.8);
  }
  50%,
  100% {
    transform: translateY(-100%) scale(0.8);
  }
}

@keyframes moveFromTopOut {
  25% {
    transform: scale(0.8);
  }
  50%,
  100% {
    transform: translateY(100%) scale(0.8);
  }
}

@keyframes moveFromBottom {
  0%,
  25% {
    transform: scale(0.8) translateY(125%);
  }
  50% {
    transform: scale(0.8) translateY(0);
  }
  75%,
  100% {
    transform: scale(1);
  }
}

@keyframes moveFromTop {
  0%,
  25% {
    transform: scale(0.8) translateY(-125%);
  }
  50% {
    transform: scale(0.8) translateY(0);
  }
  75%,
  100% {
    transform: scale(1);
  }
}

.footer {
  padding-block: 4rem;
  color: #000000;
}